@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SẢN PHẨM</h1>
        <p class="lead">Trọng lượng siêu nhẹ - thương hiệu Hàn Quốc phong cách thể thao.</p>
    </section>
    <a class="btn btn-success" href="/Products/Create">Thêm sản phẩm</a>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Lacoste">
            <h2 id="Lacoste">Lacoste</h2>
            <p>
                Giày thể thao Lacoste CARNABY BL21 màu đen 39.5.
            </p>
            <p><img src="~/tainguyen/image/giày 2.png" style="width:200px; height:150px" /></p>
            <p><a class="btn btn-outline-dark" href="https://thegioigiay.com/giay-the-thao-nike-air-max-sc-white-lagoon-pulse-cw4555-100-mau-trang-xam-42-5-p84317">Xem ngay &raquo;</a></p>

        </section>

        <section class="col-md-4" aria-labelledby="Nike">
            <h2 id="Nike">Nike</h2>
            <p>Giày thể thao Nike Air Max SC White Lagoon Pulse CW4555 100 màu trắng xám 42.5.</p>
            <p><img src="~/tainguyen/image/giày nữ.jpg" style="width:200px; height:150px" /></p>
            <p><a class="btn btn-outline-dark" href="https://thegioigiay.com/giay-the-thao-nike-air-max-sc-white-lagoon-pulse-cw4555-100-mau-trang-xam-42-5-p84317">Xem ngay &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="New Balance">
            <h2 id="New Balance">New Balance</h2>
            <p>Giày thể thao New Balance 2002R Protection Pack M2002RDI màu xanh.</p>
            <p><img src="~/tainguyen/image/giày thể thao.jpg" style="width:200px; height:150px" /></p>
            <p><a class="btn btn-outline-dark" href="https://thegioigiay.com/giay-the-thao-new-balance-2002r-protection-pack-m2002rdi-mau-xanh-p84307">Xem ngay &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="New Balance">
            <h2 id="New Balance">New Balance</h2>
            <p>Giày thể thao New Balance 2002R Protection Pack M2002RDI màu xanh.</p>
            <p><img src="~/tainguyen/image/giày thể thao.jpg" style="width:200px; height:150px" /></p>
            <p><a class="btn btn-outline-dark" href="https://thegioigiay.com/giay-the-thao-new-balance-2002r-protection-pack-m2002rdi-mau-xanh-p84307">Xem ngay &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="New Balance">
            <h2 id="New Balance">New Balance</h2>
            <p>Giày thể thao New Balance 2002R Protection Pack M2002RDI màu xanh.</p>
            <p><img src="~/tainguyen/image/giày thể thao.jpg" style="width:200px; height:150px" /></p>
            <p><a class="btn btn-outline-dark" href="https://thegioigiay.com/giay-the-thao-new-balance-2002r-protection-pack-m2002rdi-mau-xanh-p84307">Xem ngay &raquo;</a></p>
        </section>
    </div>
</main>